[submodule "backend/dependencies/sqlite_orm"]
	path = backend/dependencies/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm
[submodule "backend/dependencies/Crow"]
	path = backend/dependencies/Crow
	url = https://github.com/CrowCpp/Crow
